// ::::: Fonts :::::
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:400,900");
@import url("http://pl.allfont.net/allfont.css?fonts=droid-serif");

// ::::: Fonts-family :::::
$font-montserrat: "Montserrat", sans-serif;
$font-roboto: "Roboto Slab", serif;
$font-lato: "Lato", sans-serif;
$font-droid: "Droid Serif", serif;

// ::::: Fonts size :::::
$small-font-size: 14px;
$medium-font-size: 16px;
$normal-font-size: 18px;
$bigger-font-size: 26px;
$large-font-size: 40px;
$extra-lagre-font-size: 75px;

// ::::: Colors :::::
$color-black: #000000;
$color-dark: #222222;
$color-grey: #777777;;
$color-white: #ffffff;
$color-gold: #fed136;
$color-twitter: #00aced;
$color-facebook: #3b5998;
$color-google: #da2713;
$color-pinterest: #cb2028;
$color-line: #f1f1f1;
