.section {
  padding: 50px;

  &__header {
    margin-bottom: 10px;
    font-family: $font-montserrat;
    font-size: $large-font-size;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 75px;
    text-transform: uppercase;

    &--white {
      color: $color-white;
    }

    &--black {
      color: $color-black;
    }
  }

  &__header-paragraph {
    margin-top: 0;
    margin-bottom: 50px;
    font-family: $font-droid;
    font-size: $medium-font-size;
    font-weight: 400;
    font-style: italic;
    color: $color-grey;
  }

  &-team__header {
    margin: 0;
    font-family: $font-montserrat;
    font-size: $medium-font-size;
    font-weight: 700;
    color: $color-dark;
    letter-spacing: 0px;
    line-height: 50px;
  }

  &-team__paragraph {
    margin-top: 0;
    color: $color-grey;
  }

  &__team-description {
    margin: 0 10px;
    font-family: $font-roboto;
    font-size: $medium-font-size;
    color: $color-grey;
    letter-spacing: 0px;
  }

  &__content,
  &-team__content {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &--stretch {
      margin: 50px 10px 10px;
      justify-content: space-around;
    }

    &--columns {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  &__paragraph {
    color: $color-grey;
    font-size: $small-font-size;

    &--title {
      margin: 0;
      font-family: $font-montserrat;
      font-size: $normal-font-size;
      font-weight: 700;
      color: $color-dark;
      line-height: 75px;
      letter-spacing: 0px;
    }

    &--description {
      margin-top: 0;
      font-family: $font-roboto;
      font-size: $small-font-size;
      color: $color-grey;
      letter-spacing: 0px;
    }
  }

  &__portfolio {

    &--title {
      margin: 25px 0 5px;
      font-family: $font-montserrat;
      font-size: $normal-font-size;
      font-weight: 700;
      color: #333333;
      letter-spacing: 0px;
    }
    
    &--description {
      margin-top: 0;
      font-family: $font-droid;
      font-size: $small-font-size;
      font-weight: 400;
      font-style: italic;
      color: #737373;
    }
  }

  &__card {

    img {
      width: 75px;
      height: 75px;
    }

    &--margin {
      margin: 0;
      padding: 0 40px;
      background: $color-white;
    }
  }

  &-team__card {

    img {
      margin-top: 20px;
      width: 220px;
      height: 220px;
    }
  }

  &--black {
    background-image: url(../images/map_image.png);
    background-color: $color-black;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &--footer {
    padding: 0;
  

    &__content {
      margin: 0;
    }

    &__copyrights { 
      display: flex;
      align-items: center;
    }

    &__row {
      display: flex;
      justify-content: flex-start;

      &--left {
        padding: 0 10px 0 40px;
        display: flex;
        justify-content: flex-start;

        .copyright {
          font-family: $font-montserrat;
          font-size: $small-font-size;
          color: #555555;
          line-height: 22px;
          letter-spacing: 0px;
        }
      }

      &--right {
        padding: 0 10px 0 100px;
        display: flex;
        justify-content: flex-start;
      }  
    }
  }
}

@media (max-width: 992px) {
  .section {
    padding: 20px 10px;

    &__content {
      .logo {
        padding: 20px;
      }
    }

    &__paragraph {
      &--description {
        margin-bottom: 30px;
      }
    }

    &--footer__row {
      &--left,
      &--right {
        padding: 0 20px;
        display: flex;
        justify-content: center;
      }
    }
  }
}
